<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlogDao">
    <insert id="add" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog(title, content, date, catagory, tags)
        VALUES (#{title}, #{content}, #{date}, #{catagory}, #{tags})
    </insert>
</mapper>