<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlogDao">
    <insert id="add" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog(title, content, date, category, tags)
        VALUES (#{title}, #{content}, #{date}, #{category}, #{tags})
    </insert>
    <select id="selectById" parameterType="_int" resultType="Blog">
        SELECT * FROM blog WHERE id = #{id}
    </select>

    <select id="getLatestBlog" resultType="Blog">
        SELECT * FROM blog ORDER BY id DESC LIMIT 1
    </select>


    <resultMap id="SimpleMap" type="Blog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllSimpleInfo" resultMap="SimpleMap">
        SELECT id, title, date, tags FROM blog
    </select>

    <select id="getByKey" parameterType="String" resultMap="SimpleMap">
        SELECT id, title, date, tags FROM blog WHERE title REGEXP #{key}
        OR content REGEXP #{key} OR catagory REGEXP #{key} OR tags REGEXP #{key}
    </select>
</mapper>